.card{
  max-width: 90%;
  padding: 7%;
  align-items: center;
  background-image:url(img/fondo.gif);
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  height: 9cm;
  position: relative;
}

#img{
  max-width:60%;
  position: relative;
  border: 10cm;
}

h5{
text-align: center;
text-shadow: 1cm;
color: aliceblue;
position: relative;
}

.Fondo_catalogo{
  background-color: rgba(0, 11, 41, 0.875);
  position: relative;
}

.card-body{
  border-top-style: double;
}

.btn{
  background-color: rgba(0, 0, 255, 0.575);
  padding: 1%;
}